body {
  position: relative; }

label {
  font-weight: normal; }

.btn {
  background-color: #dd370a;
  border-color: #dd370a;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff; }
  .btn:hover, .btn:focus, .btn:active, .btn:focus:active {
    background-color: #ac2b08;
    border-color: #ac2b08;
    color: #ffffff; }
  .btn.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333; }

.flex-row {
  display: flex;
  align-items: stretch; }

.flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.content-area {
  padding-top: 80px;
  margin-left: 250px;
  width: calc(100% - 250px);
  background-color: #ffffff; }
  .tools-by-sitback .content-area {
    margin-left: 0;
    width: 100%; }

.content {
  padding: 15px 30px; }

.header {
  transition: .2s all ease;
  border-bottom: 1px solid #cccccc; }
  .header.jumbotron {
    padding: 48px 60px;
    border-radius: 0; }
  .header h1 {
    margin-top: 0;
    font-size: 3vw;
    line-height: 1;
    transition: .2s all ease; }

.intro {
  display: flex;
  align-items: stretch; }
  .intro .lead::first-line {
    font-size: 125%;
    line-height: 2; }
  .intro .start-box {
    background-color: #eeeeee; }
    .intro .start-box .start-button-wrapper {
      text-align: center; }
    .intro .start-box .btn {
      margin-bottom: 0.5em;
      cursor: pointer; }

.feature-icon {
  font-size: 4vw;
  text-align: center;
  color: #cccccc;
  vertical-align: text-top; }

hr.thick {
  border-top-width: 2px;
  border-top-color: #cccccc;
  margin: 60px 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #767676; }

.tools-by-sitback .tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; }
.tools-by-sitback .tools-wrapper {
  margin-bottom: 1em;
  display: flex; }
  .tools-by-sitback .tools-wrapper .tools-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    .tools-by-sitback .tools-wrapper .tools-inner a.btn {
      align-self: flex-end; }

.sitback-header {
  position: fixed;
  width: 100%;
  z-index: 50; }

.util-holder {
  z-index: 50;
  position: relative;
  width: 100%;
  padding: 2px 10px 5px;
  background-color: #dd370a;
  text-align: right;
  font-size: 10px;
  color: #ffffff; }

.util-inner img {
  height: 10px;
  display: inline; }
.util-inner a {
  color: #ffffff;
  font-weight: normal; }

.navbar {
  background: #333333;
  background: rgba(51, 51, 51, 0.95);
  border-radius: 0;
  min-height: 60px;
  padding-top: 0.8em;
  padding-left: 1em; }
  .navbar h1 {
    color: #ffffff;
    font-size: 20px;
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.015em;
    line-height: 40px; }
  .navbar .by {
    float: left;
    display: inline-block;
    color: #ffffff;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 0 0.5em; }

.logo {
  width: 255px;
  height: 27px;
  display: block;
  line-height: 26px;
  float: left;
  padding: 0; }
  .logo img {
    max-width: 255px;
    height: 27px; }
  .logo .container {
    padding-top: 20px;
    padding-bottom: 28px; }
    @media (min-width: 768px) {
      .logo .container {
        padding-top: 72px;
        padding-bottom: 88px; } }

.content-mask {
  width: 100%;
  bottom: 0;
  height: 14px;
  background: url(img/scroller-content-mask.png) no-repeat 50% -15px; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 30px;
  background-color: #040404;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.8em; }
  .footer > div {
    align-self: bottom; }
  .footer a {
    color: #dd370a; }

.address {
  order: 1; }

.copyright {
  margin-top: 20px;
  font-weight: 300;
  order: 2; }

.contact {
  margin-top: 20px;
  order: 3; }
  .contact img {
    height: 16px;
    padding-right: 10px; }

.sidebar {
  position: absolute;
  top: 81px;
  height: calc(100% - 83px);
  width: 250px;
  padding: 0 20px;
  overflow-y: scroll;
  background-color: #f6f6f6;
  border-right: 1px solid #cccccc; }
  .sidebar.affix-top {
    padding-top: 0px; }
  .sidebar.affix {
    position: fixed; }

.sidebar-item {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0 25px; }

.upload-button {
  position: relative;
  overflow: hidden; }

input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

#overflow-checkbox-wrap {
  display: none; }

.input-group {
  max-width: 133px; }

.checkbox input {
  display: none; }
  .checkbox input + label {
    padding-left: 0; }
    .checkbox input + label::before {
      padding-right: 5px;
      font-family: 'Glyphicons Halflings';
      content: '\e157';
      font-size: 1.2rem;
      vertical-align: baseline; }
  .checkbox input:checked + label::before {
    content: '\e067';
    color: #dd370a; }

.bg-position-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  padding-left: 0;
  width: 134px;
  border-left: 1px solid #cccccc; }

.bg-position-item {
  display: flex;
  align-items: center;
  justify-content: center; }
  .bg-position-item label {
    padding: 12px 14px;
    margin-bottom: -1px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-left: none; }
  .bg-position-item input {
    display: none; }
    .bg-position-item input:checked + label {
      background-color: #dd370a;
      color: #ffffff; }

.arrow-rotate-45 {
  transform: rotate(45deg); }

.device-wrapper {
  display: none;
  overflow: hidden; }

.device {
  position: relative;
  margin: 20px auto 80px;
  overflow: visible;
  border-radius: 60px;
  background-color: #444444;
  border: 1px solid #333333;
  box-shadow: 0 0 0 4px #b0b0b0; }

.image-background {
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); }
  .image-background.top {
    background-position: center top; }
  .image-background.top.left {
    background-position: left top; }
  .image-background.top.right {
    background-position: right top; }
  .image-background.center {
    background-position: center center; }
  .image-background.left {
    background-position: left center; }
  .image-background.right {
    background-position: right center; }
  .image-background.bottom {
    background-position: center bottom; }
  .image-background.bottom.left {
    background-position: left bottom; }
  .image-background.bottom.right {
    background-position: right bottom; }
  .image-background.top {
    top: 0; }
  .image-background.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .image-background.bottom {
    bottom: 0;
    top: auto; }
  .image-background.left {
    left: 0;
    right: auto; }
  .image-background.right {
    right: 0;
    left: auto; }
  .image-background.top, .image-background.bottom {
    transform: translate(-50%, 0); }
  .image-background.left, .image-background.right {
    transform: translate(0); }
  .image-background.top.left, .image-background.top.right, .image-background.bottom.left, .image-background.bottom.right {
    transform: translate(0); }

.overflow {
  display: none;
  width: 1920px;
  opacity: .4;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.device-screen {
  position: absolute;
  background-color: #444444;
  background-size: cover;
  background-repeat: no-repeat; }

.iphone {
  width: 415px;
  height: 827px;
  border-width: 80px 20px; }
  .iphone::before {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-67%);
    width: 100px;
    height: 17px;
    content: '';
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMTkuNSAyMC41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMTkuNSAyMC41Ij48Y2lyY2xlIGZpbGw9IiMzQzNEM0QiIGN4PSIxMC45IiBjeT0iMTAuNCIgcj0iOC4xIi8+PHBhdGggZmlsbD0iIzI5MjcyOCIgZD0iTTExMy42IDEzLjJoLTY0Yy0xLjYgMC0yLjktMS4zLTIuOS0yLjkgMC0xLjYgMS4zLTIuOSAyLjktMi45aDY0YzEuNiAwIDIuOSAxLjMgMi45IDIuOSAwIDEuNy0xLjMgMi45LTIuOSAyLjl6Ii8+PC9zdmc+") 0 0 no-repeat; }
  .iphone::after {
    position: absolute;
    bottom: -67px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    border: 3px solid #444444;
    border-radius: 50%;
    content: ''; }
  .iphone .device-screen {
    width: 375px;
    height: 667px;
    max-height: 667px; }
  .iphone .overflow {
    height: 667px;
    max-height: 667px; }
  .iphone.landscape {
    width: 827px;
    height: 415px;
    border-width: 20px 80px; }
    .iphone.landscape::before {
      top: 50%;
      left: 640px;
      transform: translateY(-67%) rotate(90deg); }
    .iphone.landscape::after {
      bottom: 50%;
      left: -68px;
      transform: translateY(50%); }
    .iphone.landscape .device-screen {
      width: 667px;
      height: 375px;
      max-height: 375px; }
    .iphone.landscape .overflow {
      height: 375px;
      max-height: 375px; }

.s7 {
  width: 370px;
  height: 780px;
  border-width: 70px 5px;
  border-radius: 50px;
  border-color: #f6f6f6; }
  .s7::before {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 20px;
    content: '';
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDMuNSAyMC4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNDMuNSAyMC4zIj48Y2lyY2xlIGZpbGw9IiMzQzNEM0QiIGN4PSIyNC45IiBjeT0iOC41IiByPSI0LjMiLz48Y2lyY2xlIGZpbGw9IiMzQzNEM0QiIGN4PSIzNi4xIiBjeT0iOC41IiByPSI0LjMiLz48cGF0aCBmaWxsPSIjMjkyNzI4IiBkPSJNOTMuMSAxMS4yaC00MS45Yy0xLjUgMC0yLjgtMS4yLTIuOC0yLjhzMS4yLTIuOCAyLjgtMi44aDQxLjljMS41IDAgMi44IDEuMiAyLjggMi44cy0xLjMgMi44LTIuOCAyLjh6Ii8+PGNpcmNsZSBmaWxsPSIjM0MzRDNEIiBjeD0iMTM0LjciIGN5PSIxMCIgcj0iNy40Ii8+PC9zdmc+") center top no-repeat; }
  .s7::after {
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 35px;
    border: 3px solid #999;
    border-radius: 15px;
    content: ''; }
  .s7 .device-screen {
    width: 360px;
    height: 640px;
    max-height: 640px; }
  .s7 .overflow {
    height: 640px;
    max-height: 640px; }
  .s7.landscape {
    width: 780px;
    height: 370px;
    border-width: 5px 70px; }
    .s7.landscape::before {
      top: 50%;
      left: 610px;
      transform: translateY(-50%) rotate(90deg); }
    .s7.landscape::after {
      bottom: 50%;
      left: -90px;
      transform: translateY(50%) rotate(90deg); }
    .s7.landscape .device-screen {
      width: 640px;
      height: 360px;
      max-height: 360px; }
    .s7.landscape .overflow {
      height: 360px;
      max-height: 360px; }

.tablet {
  width: 808px;
  height: 1184px;
  border-width: 80px 20px; }
  .tablet::before, .tablet::after {
    position: absolute;
    transform: translateX(-67%);
    content: '';
    border-radius: 50%; }
  .tablet::before {
    top: -45px;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #444444; }
  .tablet::after {
    bottom: -67px;
    left: 50%;
    width: 55px;
    height: 55px;
    border: 3px solid #444444; }
  .tablet .device-screen {
    width: 768px;
    height: 1024px;
    max-height: 1024px; }
  .tablet .overflow {
    height: 1024px;
    max-height: 1024px; }
  .tablet.landscape {
    width: 1184px;
    height: 808px;
    border-width: 20px 80px; }
    .tablet.landscape::before {
      top: 50%;
      left: 1060px;
      transform: translateY(-67%) rotate(90deg); }
    .tablet.landscape::after {
      bottom: 50%;
      left: -68px;
      transform: translateY(50%); }
    .tablet.landscape .device-screen {
      width: 1024px;
      height: 768px;
      max-height: 768px; }
    .tablet.landscape .overflow {
      height: 768px;
      max-height: 768px; }

.small-desktop {
  position: relative;
  width: 1540px;
  height: 1030px;
  border-width: 50px 50px 80px;
  transform: scale(0.6) translate(0, -32%); }
  .small-desktop:after {
    position: absolute;
    bottom: -95px;
    width: 1700px;
    content: '';
    height: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px 5px 40px 40px;
    box-shadow: 0 10px 6px -7px rgba(4, 4, 4, 0.5);
    background-color: #cccccc;
    background: linear-gradient(to bottom, #dddddd 0%, #dddddd 74%, #b0b0b0 75%, #b0b0b0 100%); }
  .small-desktop .device-screen {
    width: 1440px;
    height: 900px;
    max-height: 900px; }
  .small-desktop .overflow {
    height: 1440px;
    max-height: 900px; }

.scale-small {
  -webkit-transform: scale(0.5) translate(-100%, -50%);
  -ms-transform: scale(0.5) translate(-100%, -50%);
  transform: scale(0.5) translate(-100%, -50%);
  left: 50%; }

.scale-medium {
  -webkit-transform: scale(0.75) translate(-5%, -15%);
  -ms-transform: scale(0.75) translate(-5%, -15%);
  transform: scale(0.75) translate(-5%, -15%); }

.scale-reset {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hdtv {
  position: relative;
  width: 2020px;
  height: 1180px;
  border-width: 50px;
  border-radius: 0;
  transform: scale(0.6) translate(-25%, -32%); }
  .hdtv::before {
    position: absolute;
    bottom: -102px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background-color: #333333;
    content: ''; }
  .hdtv::after {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 20px;
    background-color: #444444;
    content: '';
    box-shadow: 0 8px 0 -4px #040404; }
  .hdtv .device-screen {
    width: 1920px;
    height: 1080px;
    max-height: 1080px; }
  .hdtv .overflow {
    height: 1080px;
    max-height: 1080px; }

.custom {
  width: 1104px;
  height: 848px;
  border-width: 40px;
  box-sizing: content-box; }
  .custom .device-screen {
    width: 1024px;
    height: 768px;
    max-height: 768px; }
  .custom .overflow {
    height: 768px;
    max-height: 768px; }

/*# sourceMappingURL=style.css.map */
